<div class="notifications">
<div class="flash">Book was successfully created.</div>
</div>
<h5><strong>Title:</strong>
<span><%= @book.title %></span></h5>
<h5><strong>Body:</strong>
<span><%= @book.body %></span></h5>
<%= link_to "Edit", edit_book_path(@book) %> |
<%= link_to "Back", books_path %>
